.slider{
  position: relative;
  height: 240px;
  width: 960px;
  display: flex;
  overflow: hidden;
}
.slider__list{
  display: flex;
  width: 100%;
  position: absolute;
  right: 0;
}
.slider__item{
  flex-shrink: 0;
  position: relative;
}
.slider__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}
.slider__img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.slider__btn-left, .slider__btn-right{
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}
.slider__btn-left{
  transform: rotate(90deg);
  left: 5%;
}
.slider__btn-right{
  transform: rotate(-90deg);
  right: 5%;
}